.navbarCustom{
    background-color: transparent;
}
.homepageSfondo{
    background-image: url('../../public/media/sfondoHome.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.containerDetailCharacter{
    background-image: url('../../public/media/sfondoDettaglioPersonaggio.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.containerCharacters{
    background-image: url('../../public/media/sfondoPersonaggi.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -50px;
    background-attachment: fixed;
}

.logoNav{
    width: 35px;
}
.containerBooks{
    background-image: url('../../public/media/sfondoLibri.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.containerDetailBook{
    background-image: url('../../public/media/sfondoLibriDettaglio.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.containerSpells{
    background-image: url('../../public/media/sfondoIncantesimi.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.cardCustom{
    background-color: rgba(255, 255, 255, 0.6);
}
.containerContact{
    background-image: url('../../public/media/wallpaperflare.com_wallpaper.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}